@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  /* === Font Families === */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  /* === Colors === */
  --color-primary: #083925;       
  --color-secondary: #0a472e;      
  --color-accent: #a8b324;       
  --color-bg-light: #F5F5F5;    
  --color-bg-alt: #effff8; 
  --color-main: #1C1C1C;      
  --color-text-secondary: #666666; 
  --color-border: #E0E0E0;         
}

.active {
  color: var(--color-accent); 
  font-weight: 600;
  transition: all;
}

/* https://i.ibb.co/CstBYsHY/trans-logo.png
https://i.ibb.co/S2BStzC/white-logo.jpg */

/* https://i.ibb.co/ynmhfN1Q/ripped-paper-slider-2.png
https://i.ibb.co/C5v6D8Vv/ripped-paper-header-1.png */